.container{
  background-image: url(../images/pexels-photo-110854.jpeg);

  color: aliceblue;
  font-size: 30px;
}

h1{
  background-color: #b5d7db;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.rules{
  font-size: 20px;
  text-align: center;
  padding: 5px;
}